<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            Books
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home</a>
                </li>
            </ul>
            <div class="text-end">
                <a class="nav-link text-white" href="/cart.html"><i class="bi bi-cart"></i><span class="cartCount badge bg-primary ms-2"></span></a>
                
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 accountNav"></ul>
            </div>
        </div>
    </div>
</header>
<br>